.title {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Kanit', sans-serif;
}
.mat-card-md-image {
    margin-top: 2rem;
}
.image-logo:nth-child(1n+3) {
    display: none;
}
.example-card {
    background-color: royalblue;
    width: 17.6rem;
}
.spinner {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
mat-card-title, mat-card-content {
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
}