.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.example-card {
    background-color: royalblue;
    width: 13.6rem;
}
mat-card-title {
    font-size: 1rem;
}